.map-container {
    height: 100%;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map-page {
    display: flex;
}

.chat-section {
    width: 300px;
    margin-right: 20px;
}

.map-section {
    flex-grow: 1;
}
